@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-open-sans);
    font-weight: 300;
  }
}

:root {
  --background: #f8fafc;
  --text-primary: #020617;
  --navbar-bg: #ffffff;
}

.dark {
  --background: #0f172a;
  --text-primary: #f8fafc;
  --navbar-bg: #0f172a;
}
