@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-open-sans);
    font-weight: 300;
  }
}

:root {
  --background: #f8fafc;
  --text-primary: #020617;
  --navbar-bg: #ffffff;
  --border-color: #e2e8f0;  /* light border */
}

.dark {
  --background: #0f172a;
  --text-primary: #f1f5f9;
  --navbar-bg: #0f172a;
  --border-color: #334155;  /* darker border for dark mode */
}
