@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

:root {
  --background: #f8fafc;
  --text-primary: #020617;
  --navbar-bg: #ffffff;
}

.dark {
  --background: #0f172a;
  --text-primary: #f8fafc;
  --navbar-bg: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
